<h1>About Page</h1>

<strong>WIP</strong>
<p>
  This is where you yap about your website.
</p>


<h2>Data Sources</h2>
<ul>
  <li>
    <strong>Recreation Complexes:</strong> Data sourced from <a href="https://data.winnipeg.ca/Recreation/Recreation-Complex/bmi4-vvs2/about_data">Winnipeg's recreation complex dataset</a>.This dataset provides information about various recreation complexes in Winnipeg. It includes details such as the name of the complex.
  </li>
  <li>
    <strong>Libraries:</strong> Data obtained from <a href="https://data.winnipeg.ca/Libraries/Library/bt47-pkkm/about_data">Winnipeg's library dataset</a>.This table will store information about libraries, including their names, locations, amenities, and services offered. Each library is associated with a recreation complex by the recreation_complex_id column.
  </li>
</ul>

<h2>Description:</h2>
<p>
The recreation_complex table contains information about various recreational facilities in Winnipeg. The library table includes information about library locations, their amenities, and the services they offer. Each library is associated with a recreation complex via the recreation_complex_id column, establishing a one-to-one relationship where a single recreation complex with a single libraries associated with it.</p>

<h2>DatabaseERD</h2>
<%= image_tag 'ERD.jpg' %>
